<section class="container">
  <h3>Add Permission</h3>
  <form [formGroup]="addPermissionForm" (ngSubmit)="onSubmit()">
    <div class="input-group mb-3">
      <input
        class="form-control"
        type="text"
        name="permissionName"
        title="permissionName"
        placeholder="name"
        formControlName="permissionName"
      />
      <button class="btn btn-primary" type="submit" id="button-addon2">
        Add Permission
      </button>
    </div>
  </form>
</section>

<hr />

<section class="container">
  <h3>Post Management Sample</h3>
  <div class="row">
    <div class="col-12 d-flex justify-content-between">
      <button
        type="button"
        class="btn btn-primary"
        *ifHasPermission="permissions.POST_CREATE"
      >
        Create Post
      </button>
      <button
        type="button"
        class="btn btn-danger"
        *ifHasPermission="permissions.POST_UPDATE"
      >
        Update Post
      </button>
      <button
        type="button"
        class="btn btn-secondary"
        *ifHasPermission="permissions.POST_DELETE"
      >
        Delete Post
      </button>
    </div>
  </div>
</section>

<hr />

<section class="container">
  <h3>Added Permissions</h3>
  @if (authService.getPermissions().length > 0) {
  <ul class="list-group">
    @for (item of authService.getPermissions(); track $index) {
    <li class="list-group-item d-flex justify-content-between">
      <span>
        {{ item }}
      </span>
      <button
        type="button"
        class="btn btn-danger"
        (click)="removePermission(item)"
      >
        X
      </button>
    </li>
    }
  </ul>
  }
</section>

<div hidden>
  {{ rerender() }}
</div>
